<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624128667864-asr3m6v8nfjnq4cj2q7ak17uu9eokkk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624128667864-asr3m6v8nfjnq4cj2q7ak17uu9eokkk8</string>
	<key>API_KEY</key>
	<string>AIzaSyCxauuLxkhEOgJkL-Lw9MwLR9fP1zRB7wg</string>
	<key>GCM_SENDER_ID</key>
	<string>624128667864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comunidadeHorta.Cyber-Lavrador</string>
	<key>PROJECT_ID</key>
	<string>cyberjardim</string>
	<key>STORAGE_BUCKET</key>
	<string>cyberjardim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624128667864:ios:c7952855c55b79493fe7ad</string>
	<key>DATABASE_URL</key>
	<string>https://cyberjardim-default-rtdb.firebaseio.com</string>
</dict>
</plist>